{% extends 'admin_dashboard/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block extra_head %}
    <!-- Add extra CSS links specific to the dashboard page here -->
{% endblock %}

{% block header %}
    <!-- Your dashboard-specific content goes here -->
   <!-- Page-header start -->
   <div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Dashboard</h5>
                    <p class="m-b-0">Welcome to engineerka company</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="#!"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Page-header end -->
{% endblock %}

{% block content %}
<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">
        <!-- Page-body start -->
        <div class="page-body">
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-body start -->
                        <div class="page-body">
                            <div class="row">
                                <!-- task, page, download counter  start -->
                                <div class="col-xl-3 col-md-6">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <h4 class="text-c-purple">${{ total_transactions_amount }}</h4>
                                                    <h6 class="text-muted m-b-0">All Earnings</h6>
                                                </div>
                                                <div class="col-4 text-right">
                                                    <i class="fa fa-bar-chart f-28"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer bg-c-purple">
                                            <div class="row align-items-center">
                                                <div class="col-9">
                                                    <p class="text-white m-b-0">% change</p>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <i class="fa fa-line-chart text-white f-16"></i>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <h4 class="text-c-green">{{ customer_count }}</h4>
                                                    <h6 class="text-muted m-b-0">total customers</h6>
                                                </div>
                                                <div class="col-4 text-right">
                                                    <i class="fa fa-file-text-o f-28"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer bg-c-green">
                                            <div class="row align-items-center">
                                                <div class="col-9">
                                                    <p class="text-white m-b-0">% change</p>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <i class="fa fa-line-chart text-white f-16"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <h4 class="text-c-red">${{ yearly_transaction_amount }}</h4>
                                                    <h6 class="text-muted m-b-0">this years Earnings</h6>
                                                </div>
                                                <div class="col-4 text-right">
                                                    <i class="fa fa-calendar-check-o f-28"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer bg-c-red">
                                            <div class="row align-items-center">
                                                <div class="col-9">
                                                    <p class="text-white m-b-0">% change</p>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <i class="fa fa-line-chart text-white f-16"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <h4 class="text-c-blue">{{ this_years_customers }}</h4>
                                                    <h6 class="text-muted m-b-0">year customers</h6>
                                                </div>
                                                <div class="col-4 text-right">
                                                    <i class="fa fa-hand-o-down f-28"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer bg-c-blue">
                                            <div class="row align-items-center">
                                                <div class="col-9">
                                                    <p class="text-white m-b-0">% change</p>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <i class="fa fa-line-chart text-white f-16"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="card">
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Year</th>
                                                    <th>Customer</th>
                                                    <th>Amount</th>
                                                    <th>Total Transaction</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for year_data in yearly_data %}
                                                <tr>
                                                    <td>{{ year_data.transaction_date__year }}</td>
                                                    <td>{{ year_data.total_customers }}</td>
                                                    <td>${{ year_data.total_amount }}</td>
                                                    <td>{{ year_data.total_transactions }}</td>
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td colspan="4">No financial data available for the selected years.</td>
                                                </tr>
                                            {% endfor %}
    
                                            </tbody>
                                        </table>
                                        <div class="text-right m-r-20">
                                            <a href="#!" class=" b-b-primary text-primary">View Detailed Financial Reports</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            


{% endblock %}

{% block extra_scripts %}
    <!-- Add extra JavaScript links specific to the dashboard page here -->
{% endblock %}
